lib/plugins/sfDoctrinePlugin/test/functional/fixtures/cache
lib/plugins/sfPropelPlugin/test/functional/fixtures/data
lib/plugins/sfPropelPlugin/test/functional/fixtures/cache
test/functional/fixtures/log
test/functional/fixtures/cache